.App {
  text-align: center;
  background: #fcfcfc
}

/**/

.minhalista{
  width: 90%;
  margin: 0 auto;
  text-align: left;
  padding:5% 0 0 0 ;
}
.minhalista .lista{
  list-style: none;
  padding: 0;
  margin: 0;
}
.item_comp{
  padding: 0 0 0 0;
  background-color: #FBFFEE;
  width: 100%;
  float: left;
  border:2px solid #d7d7d7;
 border-radius: 4px;
 margin-bottom: 2%; 
}
.item_foto{
  display: block;
  width: 30%;
  float: left;
}
.item_info{
  display: block;
  width: 70%;
  float: left;
}
.avatar_img{
  display: block;
  width: 80%;
}
.item_info .txt{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  
}