.App {
  text-align: center;
}

/**/

.minhalista{
  width: 100%;
  text-align: left;
  padding:10%;
}
.minhalista .lista{
  list-style: none;
  padding: 0;
  margin: 0;
}
.item_comp{
  padding: 0 0 0 0;
  background-color: #ccc;
  width: 100%;
}
.item_foto{
  display: inline-block;
  width: 40%;
}
.item_info{
  display: inline-block;
  width: 50%;
}
.item_info .txt{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  
}